<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../partials/header') %>
    </head>

    <body>

        <%- include('../partials/sidebar') %>
        <%- include('../partials/navbar') %>
       
        
        <div id="search">
            <button type="button" class="close">×</button>
            <form>
                <input type="search" value="" placeholder="type keyword(s) here" />
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
       
        <%- include('../partials/footer') %>
    </body>

</html>
